body{
    background-color: #555555;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0px;
    text-transform: capitalize;
}

/*HEADER*/
#header-container{
    height: 150px;
    background-color: #111111;
    padding: 0 25px;
    margin-bottom: 20px;
    color: white;
}

#logo-container{
    float: left;
    width: 15%;
}

#menu-container{
    float: left;
}

#menu-container ul{
    margin: 0;
    padding: 0;
}

#menu-container a, #menu-container a:visited{
    text-decoration: none;
    color: white;
}

#menu-container li{
    text-align: center;
    display: inline-block;
    width: 120px;

    padding: 15px;
    border: 1px solid;
}

#menu-container i{
    font-size: 45px;
    color: gold;
}


/* SEARCH GAMES */
.search button{
    margin-left: 5px;
}

.game-cell{
    position: relative;
    overflow: hidden;
    height: 400px;
    padding: 0;
    margin: 10px;
    border: 1px solid white;
    box-sizing: border-box;
}

.game-cell .game-name{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gold;    
}

#frmSearchGame .ui-widget-content a, #completed-list .ui-widget-content a{
    text-decoration: none;
}

.game-cell .img-container{
    height: 200px;
    overflow: hidden;    
}

.game-cell img{
    width: 310px;
}

.game-cell .text-container{
    padding: 20px;
}

/* VIEW GAME */

#main-container{
    position: relative;
    overflow: hidden;
    padding: 0;
}

#top-container{
    width: 100%;    
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    height: 201px;
    background-color: #333333;
}

#game-pic-container{
    width: 25%;
    float: left;
    border: 1px solid gray;
    overflow: hidden;
    height: 200px;
    margin-right: 30px;
}

#game-pic-container img{
    max-width: 500px;
}

#game-info-container{
    padding-top: 10px;
    width:56%;
    float: left;
}

#game-info-container div{
    width: 100%;
    font-size: 2em;
    color: gold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;   

    margin-right: 30px;
    margin-bottom: 30px;
}

#game-grade-container{
    float: left;
    
}

#game-grade{
    background-color: gold;
    padding: 5px;
    text-align: center;
    color: #333333;
    font-size: 3.2em;
    font-weight: bolder;
    margin: auto;
}

#game-grade-container h5{
    color: white;
    margin: 10px 0;
}

#comments-container{
    width: 75%;
    min-height: 500px;
    max-height: 700px;
    overflow: auto;
    margin-right: 10px;
    display: inline-block
}

#comments-container p{
    text-transform: none;
}

#right-container{
    vertical-align: top;
    display: inline-block;
    width: 22%;
}

#right-container button{
    margin-top: 10px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

#game-completed{
    margin-bottom: 40px;
}

/* VIEW USER */

#userTop-container{
    height: 175px;
    background-color: #333333;
    margin-bottom: 10px;
    color: white;
    padding: 10px 20px;
}

#profile-photo-container{
    float: left;
    overflow: hidden;
    width: 15%;
    margin-right: 20px;
    background-color: dimgray;
    padding: 10px;

    text-align: center;
}

#profile-photo-container img{
    height: 150px;
}

#user-profile-container{
    float: left;
    padding: 15px;
}