.ui-panelgrid>*>tr,
.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

#frmLogin .ui-panelgrid-cell{
    padding: 5px;    
}

#frmLogin .ui-button{
    width: 100%;
    margin-top:10px;
}

#frmSearchGame .ui-panelgrid-cell{
    padding: 0px;
}

.ui-dock-container-top{
    z-index: 999;
}


